---
layout: layouts/home.njk
eleventyNavigation:
  key: Glenn Weatherson
  order: 1
---

<p>Hi there! 🤠</p>

<p>My name is Glenn Weatherson, which you've most likely already figured out.</p>

<p>I'm a web developer with many moons of industry experience. I'm currently working at <a href="https://970design.com">970 Design</a>. Most of my career has been building websites from the ground up using Wordpress. I find joy in solving the process of turning a new design turn into a coded, usable experience, especially when there are new things to try along the way.</p>

<p>Some of the most notable client work I've been a part of include GoPro, Nike, Tahiti, Yosemite, Pokemon, and more.</p>

<p>While not working, I'm usually pedaling any sort of bicycle, playing video games, spending time with my partner, or trying to wear our dogs out. Or, I'm doing absolutely nothing, because that's just as important. 🧙🏼‍♂️</p>